* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    background-size: cover;
    min-height: 100%;
    line-height: 1;
    font-family: "Times New Roman", Times, serif;
}

header {
    display: flex;
    justify-content: space-between;
}

header h1 {
    padding: 15px;
    height: 5rem;
    color: white;
    text-shadow: red 18px 8px 15px;
}

header ul {
    margin-right: var(--right-margin);
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
}

.logo {
    display: inline;
    margin-top: 30px;
    text-shadow: red 18px 8px 15px;
}

.logo:hover {
    cursor: pointer;
    font-size: 46px;
    color: red !important;
}

main {
    max-width: 1140px;
    min-width: 786px;
    margin: auto;
}

.person-logo {
    display: inline-block;
    margin-top: 35px;
}

.person-avatar {
    border: red 5px solid;
    border-radius: 50px;
    box-shadow: 8px 8px 15px white;
}

.person-avatar:hover {
    width: 450px;
    cursor: pointer;
}

ul li>*,
header ul li a {
    font-size: 20px;
    padding: 0.4rem;
    margin: 0.5rem;
    text-decoration: none;
    color: white;
}

section h2 {
    font-size: 45px;
    color: white;
    margin-left: 50px;
    margin-top: 35px;
}

.aboutme {
    display: inline-block;
    margin-left: 345px;
    font-size: 25px;
    color: white;
    margin-top: -25px;
}

main section ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: underline;
    margin-left: 380px;
    list-style: none;
    font-size: 15px;
}

.product-card-parent {
    display: inline-block;
    padding: 0 25px;
}

.project-all-cards {
    margin-left: 320px;
}

.project-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: red 2px solid;
    box-shadow: 8px 8px 15px #e50914;
    margin-bottom: 45px;
    max-width: 100%;
    height: 100%;
}

.project-card img {
    filter: grayscale(50%);
}

.project-card img:hover {
    filter: grayscale(40%);
    cursor: pointer;
    width: 750px;
    box-shadow: 10px 10px 25px blue;
    border: rgb(33, 90, 196) 2px dotted;
}

.title {
    color: white;
    font-size: 25px;
    margin-top: -35px;
}

.phone {
    margin-top: -35px;
    margin-left: -250px;
}

.email {
    margin-top: -40px;
    margin-left: -250px;
}

footer {
    margin: 5vh;
    display: flex;
    justify-content: center;
    color: red;
    font-size: 18px;
}

@media screen and (max-width: 867px) {
    header {
        display: inline-block;
    }
    body header h1 {
        display: inline-block;
    }
    header ul {
        display: inline-block;
        justify-content: center;
        padding-top: 0.4rem;
    }
    header ul li a {
        display: flex;
    }
}

@media screen and (max-width: 500px) {
    body section ul li>* {
        width: 50%;
    }
    header ul li a {
        width: 50%;
    }
}